
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

data/prepilot-only-raw.csv
data/prepilot-pilot-raw.csv
data/.DS_Store
venv/
Final Survey Covid Datasets/
figures/
